#message_body::-webkit-scrollbar
{
	display: none;
}

.chatbox
{
	background-color: #dcd5d5ab;
	height: 100%;
	width: 95%;
	margin: auto;
	box-shadow: 2px 2px 10px 10px lightgrey;
}
.friend_chat
{
	cursor: pointer;
}

.rightmsg, .leftmsg
{
	border-radius: 3%;
	max-width: 50%;
	padding: 10px;
}
.leftmsg
{
	float: left;
	background-color: lightblue;
}
.rightmsg
{
	float: right;
	background-color: lightgreen;
}